## Library Installation

Ensure that the necessary libraries are installed before running the notebook.

In [1]:
# Import necessary libraries
%pip install openpyxl
from openpyxl import load_workbook
import pandas as pd
import os
import re
import itertools

print("Skeleton setup complete!")

Requirement already satisfied: openpyxl in /usr/local/python/3.10.13/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/python/3.10.13/lib/python3.10/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Skeleton setup complete!

## Variable Declaration

Set the variables for file paths, sheet names, and other configurations. Update these variables for each specific project.

In [2]:
# Path to the Excel file (change this for each project)
excel_file_path = '/workspaces/Finetwork-Automation/outbound/Metabase.xlsx'

# Sheet names for different categories
sheet_active = 'ACTIVOS'
sheet_canceled = 'CANCELADOS'
sheet_pending = 'PTE DE FIRMA'
sheet_value = 'TOP VALOR'
sheet_packs = 'TOP PACKS'
sheet_services = 'TOP SERVICIOS'

# Range to read (change this for each project)
start_row = 8
end_row = 65

print("Variables defined correctly!")

Variables defined correctly!

Extract Data

In [3]:
def load_sheet_as_dataframe(file_path, sheet_name, start_row, end_row):
    # Load data from the specified sheet and range into a DataFrame
    df = pd.read_excel(file_path, sheet_name=sheet_name, skiprows=start_row-1, nrows=end_row-start_row+1)
    print(f"Data from '{sheet_name}' sheet loaded successfully.")
    return df

# Extract data from 'Active' sheet
services_df = load_sheet_as_dataframe(excel_file_path, 'SERVICIOS BRUTOS', start_row, end_row)
canceled_df = load_sheet_as_dataframe(excel_file_path, 'CANCELADOS', start_row, end_row)
active_df = load_sheet_as_dataframe(excel_file_path, 'ACTIVOS', start_row, end_row)

print("Brut Services DataFrame:")
display(services_df.head())

print("Active DataFrame:")
display(active_df.head())

print("Canceled DataFrame:")
display(canceled_df.head())

Data from 'SERVICIOS BRUTOS' sheet loaded successfully.
Data from 'CANCELADOS' sheet loaded successfully.
Data from 'ACTIVOS' sheet loaded successfully.
Brut Services DataFrame:

,Outbound Nacional,7,3,5,8,15,8.1,12,9,6,5.1,2,13,24,29,146
0,adrianarodriguez@originaltelecom.es,NaN,NaN,NaN,3.0,2.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
1,carmenanselmo@originaltelecom.es,1.0,1.0,NaN,1.0,5.0,1.0,NaN,2.0,NaN,1.0,NaN,1.0,1.0,4.0,18
2,concepcion.garcia@originaltelecom.es,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,4.0,7
3,[PACK] Fibra 600 Mbps y 10 GB.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.0,5
4,[PACK] Fibra 600 Mbps y 55 GB.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,2

Active DataFrame:

,Outbound Nacional,7,2,5,8,15,7.1,12,9,6,5.1,1,10,13,7.2,107
0,adrianarodriguez@originaltelecom.es,NaN,NaN,NaN,3.0,2.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
1,carmenanselmo@originaltelecom.es,1.0,1.0,NaN,1.0,5.0,1.0,NaN,2.0,NaN,1.0,NaN,1.0,NaN,1.0,14
2,concepcion.garcia@originaltelecom.es,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,3
3,[PACK] Fibra 600 Mbps y 10 GB.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1
4,[PACK] Fibra 600 Mbps y 55 GB.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,2

Canceled DataFrame:

,Outbound Nacional,2,1,2.1,10,3,4,2.2,3.1,27
0,adrianarodriguez@originaltelecom.es,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1
1,carmenanselmo@originaltelecom.es,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2
2,joseignacio.garcialopez@grupokonecta.es,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,lorenabellido@originaltelecom.es,1.0,NaN,2.0,NaN,1.0,2.0,NaN,1.0,7
4,maricarmencarrasco@originaltelecom.es,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,10

## Replace NaN with 0

Replace all NaN values in the DataFrames with 0 to facilitate further transformations.

In [4]:
def replace_nan_with_zero(df):
    """
    Replace all NaN values in the DataFrame with 0.
    
    Parameters:
    df (pd.DataFrame): The DataFrame to process.
    
    Returns:
    pd.DataFrame: The processed DataFrame with NaN replaced by 0.
    """
    df = df.fillna(0)
    print("Replaced NaN with 0.")
    return df

active_df = replace_nan_with_zero(active_df)
canceled_df = replace_nan_with_zero(canceled_df)
services_df = replace_nan_with_zero(services_df)



# Display the transformed DataFrames
print("Active DataFrame after replacing NaN:")
display(active_df.head())

print("Canceled DataFrame after replacing NaN:")
display(canceled_df.head())

print("Services DataFrame after replacing NaN:")
display(services_df.head())

Replaced NaN with 0.
Replaced NaN with 0.
Replaced NaN with 0.
Active DataFrame after replacing NaN:

,Outbound Nacional,7,2,5,8,15,7.1,12,9,6,5.1,1,10,13,7.2,107
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,14
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,3
3,[PACK] Fibra 600 Mbps y 10 GB.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
4,[PACK] Fibra 600 Mbps y 55 GB.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2

Canceled DataFrame after replacing NaN:

,Outbound Nacional,2,1,2.1,10,3,4,2.2,3.1,27
0,adrianarodriguez@originaltelecom.es,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,carmenanselmo@originaltelecom.es,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2
2,joseignacio.garcialopez@grupokonecta.es,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,lorenabellido@originaltelecom.es,1.0,0.0,2.0,0.0,1.0,2.0,0.0,1.0,7
4,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,10

Services DataFrame after replacing NaN:

,Outbound Nacional,7,3,5,8,15,8.1,12,9,6,5.1,2,13,24,29,146
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,4.0,18
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,4.0,7
3,[PACK] Fibra 600 Mbps y 10 GB.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0,5
4,[PACK] Fibra 600 Mbps y 55 GB.,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2

## Load Agents List

Load the list of all agents from the "Agents" sheet.

In [5]:
# Load the list of agents
agents_df = pd.read_excel(excel_file_path, sheet_name='AGENTES', usecols='A')
agents_list = agents_df.iloc[:, 0].tolist()
print("Agents list loaded successfully!")
print(agents_list)

Agents list loaded successfully!
['adrianarodriguez@originaltelecom.es', 'josecarlosmartinez@originaltelecom.es', 'lorenabellido@originaltelecom.es', 'carmenanselmo@originaltelecom.es', 'fatimagonzalez@originaltelecom.es', 'concepcion.garcia@originaltelecom.es', 'outbound@originaltelecom.es', 'macarenasolis@originaltelecom.es', 'sergiogarcia@originaltelecom.es', 'maricarmencarrasco@originaltelecom.es', 'vanesamendez@originaltelecom.es', 'yolandaromero@originaltelecom.es', 'pedromanzanero@originaltelecom.es', 'javier.jaro@originaltelecom.es']

## Verify and Complete Data

Verify that all agents are present in each DataFrame. If an agent is missing, add a row with zeros for that agent.

In [6]:
def ensure_all_agents(df, agents_list):
    """
    Ensure all agents are present in the DataFrame. Add missing agents with zero values and remove agents not in the list.
    
    Parameters:
    df (pd.DataFrame): The DataFrame to check and update.
    agents_list (list): The list of all agents.
    
    Returns:
    pd.DataFrame: The updated DataFrame with all agents.
    """
    # Get the list of agents in the DataFrame
    existing_agents = df.iloc[:, 0].tolist()
    
    # Find missing agents
    missing_agents = [agent for agent in agents_list if agent not in existing_agents]
    
    # Add rows for missing agents with zero values
    for agent in missing_agents:
        zero_row = pd.DataFrame([[agent] + [0] * (df.shape[1] - 1)], columns=df.columns)
        df = pd.concat([df, zero_row], ignore_index=True)
    
    # Remove agents not in the agents list
    df = df[df.iloc[:, 0].isin(agents_list)]
    
    print(f"Added {len(missing_agents)} missing agents and removed {len(existing_agents) - len(df)} agents not in the list.")
    return df

# Apply the function to each DataFrame
active_df = ensure_all_agents(active_df, agents_list)
canceled_df = ensure_all_agents(canceled_df, agents_list)
services_df = ensure_all_agents(services_df, agents_list)

# Display the updated DataFrames
print("Active DataFrame after ensuring all agents:")
display(active_df.head(15))

print("Canceled DataFrame after ensuring all agents:")
display(canceled_df.head(15))

print("Services DataFrame after ensuring all agents:")
display(services_df.head(15))

Added 4 missing agents and removed 7 agents not in the list.
Added 8 missing agents and removed -2 agents not in the list.
Added 4 missing agents and removed 11 agents not in the list.
Active DataFrame after ensuring all agents:

,Outbound Nacional,7,2,5,8,15,7.1,12,9,6,5.1,1,10,13,7.2,107
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,14
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,3
5,fatimagonzalez@originaltelecom.es,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,9.0,1.0,16
8,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,2.0,4.0,4.0,3.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,17
11,lorenabellido@originaltelecom.es,4.0,0.0,4.0,2.0,3.0,0.0,1.0,2.0,3.0,2.0,0.0,2.0,1.0,1.0,25
12,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,4
16,outbound@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,5
17,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,5
19,yolandaromero@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
21,macarenasolis@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
22,vanesamendez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
23,pedromanzanero@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
24,javier.jaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

Canceled DataFrame after ensuring all agents:

,Outbound Nacional,2,1,2.1,10,3,4,2.2,3.1,27
0,adrianarodriguez@originaltelecom.es,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,carmenanselmo@originaltelecom.es,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2
3,lorenabellido@originaltelecom.es,1.0,0.0,2.0,0.0,1.0,2.0,0.0,1.0,7
4,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,10
5,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2
9,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2
12,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
13,fatimagonzalez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
14,outbound@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
15,macarenasolis@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
16,vanesamendez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
17,yolandaromero@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
18,pedromanzanero@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
19,javier.jaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

Services DataFrame after ensuring all agents:

,Outbound Nacional,7,3,5,8,15,8.1,12,9,6,5.1,2,13,24,29,146
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,4.0,18
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,4.0,7
5,fatimagonzalez@originaltelecom.es,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,13.0,4.0,24
12,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,2.0,4.0,4.0,3.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,17
15,lorenabellido@originaltelecom.es,4.0,0.0,4.0,2.0,3.0,0.0,1.0,2.0,3.0,2.0,0.0,2.0,1.0,3.0,27
16,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,1.0,3.0,2.0,9
20,outbound@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,6
21,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,0.0,1.0,8
23,yolandaromero@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
25,macarenasolis@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
26,vanesamendez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
27,pedromanzanero@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
28,javier.jaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

## Assign Values to Emails

Assign numerical values to each email and add them as a new column in the DataFrames.

In [7]:
# Dictionary mapping emails to their respective values
email_values = {
    'adrianarodriguez@originaltelecom.es': 1,
    'josecarlosmartinez@originaltelecom.es': 2,
    'lorenabellido@originaltelecom.es': 3,
    'carmenanselmo@originaltelecom.es': 4,
    'fatimagonzalez@originaltelecom.es': 5,
    'concepcion.garcia@originaltelecom.es': 6,
    'outbound@originaltelecom.es': 7,
    'macarenasolis@originaltelecom.es': 8,
    'sergiogarcia@originaltelecom.es': 9,
    'maricarmencarrasco@originaltelecom.es': 10,
    'vanesamendez@originaltelecom.es': 11,
    'yolandaromero@originaltelecom.es': 12,
    'pedromanzanero@originaltelecom.es': 13,
    'javier.jaro@originaltelecom.es': 14
}

# Add a new column to each DataFrame with the email values
def add_email_values(df, email_values):
    df['email_value'] = df.iloc[:, 0].map(email_values)
    return df

# Apply the function to each DataFrame
active_df = add_email_values(active_df, email_values)
canceled_df = add_email_values(canceled_df, email_values)
services_df = add_email_values(services_df, email_values)

# Display the updated DataFrames with the new 'email_value' column
print("Active DataFrame with email values:")
display(active_df.head())

print("Canceled DataFrame with email values:")
display(canceled_df.head())

print("Services DataFrame with email values:")
display(services_df.head())

Active DataFrame with email values:

,Outbound Nacional,7,2,5,8,15,7.1,12,9,6,5.1,1,10,13,7.2,107,email_value
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,1
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,14,4
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,3,6
5,fatimagonzalez@originaltelecom.es,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,9.0,1.0,16,5
8,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,2.0,4.0,4.0,3.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,17,2

Canceled DataFrame with email values:

,Outbound Nacional,2,1,2.1,10,3,4,2.2,3.1,27,email_value
0,adrianarodriguez@originaltelecom.es,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
1,carmenanselmo@originaltelecom.es,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2,4
3,lorenabellido@originaltelecom.es,1.0,0.0,2.0,0.0,1.0,2.0,0.0,1.0,7,3
4,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,10,10
5,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2,9

Services DataFrame with email values:

,Outbound Nacional,7,3,5,8,15,8.1,12,9,6,5.1,2,13,24,29,146,email_value
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,1
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,4.0,18,4
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,4.0,7,6
5,fatimagonzalez@originaltelecom.es,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,13.0,4.0,24,5
12,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,2.0,4.0,4.0,3.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,17,2

## Sort DataFrames by Email Values

Sort the DataFrames based on the numerical values assigned to the emails.

In [8]:
# Sort each DataFrame by the 'email_value' column
def sort_by_email_value(df):
    df = df.sort_values(by='email_value')
    return df

# Apply the sorting function to each DataFrame
active_df = sort_by_email_value(active_df)
canceled_df = sort_by_email_value(canceled_df)
services_df = sort_by_email_value(services_df)

# Display the sorted DataFrames
print("Sorted Active DataFrame:")
display(active_df.head(20)) 

print("Sorted Canceled DataFrame:")
display(canceled_df.head(20))

print("Sorted Pending Signature DataFrame:")
display(services_df.head(20))

Sorted Active DataFrame:

,Outbound Nacional,7,2,5,8,15,7.1,12,9,6,5.1,1,10,13,7.2,107,email_value
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,1
8,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,2.0,4.0,4.0,3.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,17,2
11,lorenabellido@originaltelecom.es,4.0,0.0,4.0,2.0,3.0,0.0,1.0,2.0,3.0,2.0,0.0,2.0,1.0,1.0,25,3
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,14,4
5,fatimagonzalez@originaltelecom.es,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,9.0,1.0,16,5
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,3,6
16,outbound@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,5,7
21,macarenasolis@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,8
17,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,5,9
12,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,4,10
22,vanesamendez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,11
19,yolandaromero@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,12
23,pedromanzanero@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,13
24,javier.jaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,14

Sorted Canceled DataFrame:

,Outbound Nacional,2,1,2.1,10,3,4,2.2,3.1,27,email_value
0,adrianarodriguez@originaltelecom.es,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1
12,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,2
3,lorenabellido@originaltelecom.es,1.0,0.0,2.0,0.0,1.0,2.0,0.0,1.0,7,3
1,carmenanselmo@originaltelecom.es,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2,4
13,fatimagonzalez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,5
9,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2,6
14,outbound@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,7
15,macarenasolis@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,8
5,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2,9
4,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,10,10
16,vanesamendez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,11
17,yolandaromero@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,12
18,pedromanzanero@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,13
19,javier.jaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,14

Sorted Pending Signature DataFrame:

,Outbound Nacional,7,3,5,8,15,8.1,12,9,6,5.1,2,13,24,29,146,email_value
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,1
12,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,2.0,4.0,4.0,3.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,17,2
15,lorenabellido@originaltelecom.es,4.0,0.0,4.0,2.0,3.0,0.0,1.0,2.0,3.0,2.0,0.0,2.0,1.0,3.0,27,3
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,4.0,18,4
5,fatimagonzalez@originaltelecom.es,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,13.0,4.0,24,5
2,concepcion.garcia@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,4.0,7,6
20,outbound@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,6,7
25,macarenasolis@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,8
21,sergiogarcia@originaltelecom.es,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,0.0,1.0,8,9
16,maricarmencarrasco@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,1.0,3.0,2.0,9,10
26,vanesamendez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,11
23,yolandaromero@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,12
27,pedromanzanero@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,13
28,javier.jaro@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,14

## Remove 'email_value' Column

After sorting the DataFrames based on the email values, the 'email_value' column should be removed to prevent interference with further calculations.

In [9]:
# Function to remove the 'email_value' column
def remove_email_value_column(df):
    if 'email_value' in df.columns:
        df = df.drop(columns=['email_value'])
    return df

# Apply the function to each DataFrame
active_df = remove_email_value_column(active_df)
canceled_df = remove_email_value_column(canceled_df)
services_df = remove_email_value_column(services_df)


# Display the updated DataFrames without the 'email_value' column
print("Active DataFrame after removing 'email_value' column:")
display(active_df.head())

print("Canceled DataFrame after removing 'email_value' column:")
display(canceled_df.head())

print("Services DataFrame after removing 'email_value' column:")
display(services_df.head())

column_values = active_df.iloc[:, 0].tolist()
print("Values from the second column of active_df:")
print(column_values)

Active DataFrame after removing 'email_value' column:

,Outbound Nacional,7,2,5,8,15,7.1,12,9,6,5.1,1,10,13,7.2,107
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9
8,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,2.0,4.0,4.0,3.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,17
11,lorenabellido@originaltelecom.es,4.0,0.0,4.0,2.0,3.0,0.0,1.0,2.0,3.0,2.0,0.0,2.0,1.0,1.0,25
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,14
5,fatimagonzalez@originaltelecom.es,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,9.0,1.0,16

Canceled DataFrame after removing 'email_value' column:

,Outbound Nacional,2,1,2.1,10,3,4,2.2,3.1,27
0,adrianarodriguez@originaltelecom.es,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
12,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,lorenabellido@originaltelecom.es,1.0,0.0,2.0,0.0,1.0,2.0,0.0,1.0,7
1,carmenanselmo@originaltelecom.es,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2
13,fatimagonzalez@originaltelecom.es,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

Services DataFrame after removing 'email_value' column:

,Outbound Nacional,7,3,5,8,15,8.1,12,9,6,5.1,2,13,24,29,146
0,adrianarodriguez@originaltelecom.es,0.0,0.0,0.0,3.0,2.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9
12,josecarlosmartinez@originaltelecom.es,0.0,0.0,0.0,2.0,4.0,4.0,3.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,17
15,lorenabellido@originaltelecom.es,4.0,0.0,4.0,2.0,3.0,0.0,1.0,2.0,3.0,2.0,0.0,2.0,1.0,3.0,27
1,carmenanselmo@originaltelecom.es,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,4.0,18
5,fatimagonzalez@originaltelecom.es,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,13.0,4.0,24

Values from the second column of active_df:
['adrianarodriguez@originaltelecom.es', 'josecarlosmartinez@originaltelecom.es', 'lorenabellido@originaltelecom.es', 'carmenanselmo@originaltelecom.es', 'fatimagonzalez@originaltelecom.es', 'concepcion.garcia@originaltelecom.es', 'outbound@originaltelecom.es', 'macarenasolis@originaltelecom.es', 'sergiogarcia@originaltelecom.es', 'maricarmencarrasco@originaltelecom.es', 'vanesamendez@originaltelecom.es', 'yolandaromero@originaltelecom.es', 'pedromanzanero@originaltelecom.es', 'javier.jaro@originaltelecom.es']

## Process Data from all DataFrames

Sum all numeric values in each row, divide the result by 2, and store the final values.

In [10]:
# Tomar el ltimo valor disponible de cada fila para 'Active' DataFrame
active_last_values = active_df.iloc[:, 1:].apply(lambda row: row.dropna().iloc[-1], axis=1)
canceled_last_values = canceled_df.iloc[:, 1:].apply(lambda row: row.dropna().iloc[-1], axis=1)
services_last_values = services_df.iloc[:, 1:].apply(lambda row: row.dropna().iloc[-1], axis=1)

print("ltimos valores para 'Active' DataFrame:")
print(active_last_values.head())
print("ltimos valores para 'Canceled' DataFrame:")
print(canceled_last_values.head())
print("ltimos valores para 'Services' DataFrame:")
print(services_last_values.head())

ltimos valores para 'Active' DataFrame:
0      9.0
8     17.0
11    25.0
1     14.0
5     16.0
dtype: float64
ltimos valores para 'Canceled' DataFrame:
0     1.0
12    0.0
3     7.0
1     2.0
13    0.0
dtype: float64
ltimos valores para 'Services' DataFrame:
0      9.0
12    17.0
15    27.0
1     18.0
5     24.0
dtype: float64

## Update finalFile Excel Sheet

Update the "finalFile" Excel sheet with the calculated values from all five DataFrame

### Update finalFile Excel sheet with Active Data

Update the "finalFile" Excel sheet with the calculated values from the Active DataFrame in column J.

In [11]:
from openpyxl import load_workbook

# Path to the final file
final_file_path ='/workspaces/Finetwork-Automation/outbound/CDM FIDELIZACION + POTENCIALES.xlsx'
sheet_name = 'OUT'  # Change this to the correct sheet name

def update_final_file(file_path, sheet_name, values):
    # Load the workbook and select the sheet
    workbook = load_workbook(filename=file_path)
    sheet = workbook[sheet_name]
    
    # Start updating from row 3 in column F (6th column)
    start_row = 5
    column = 10  # Column J
    
    for i, value in enumerate(values, start=start_row):
        sheet.cell(row=i, column=column, value=value)
    
    # Save the workbook
    workbook.save(file_path)
    print(f"Updated {len(values)} rows in '{sheet_name}' sheet of '{file_path}'.")

# Update the final file with the calculated sums
update_final_file(final_file_path, sheet_name, active_last_values)

Updated 14 rows in 'OUT' sheet of '/workspaces/Finetwork-Automation/outbound/CDM FIDELIZACION + POTENCIALES.xlsx'.

### Update finalFile Excel sheet with Canceled Data

Update the "finalFile" Excel sheet with the calculated values from the Canceled DataFrame in column I.

In [12]:
from openpyxl import load_workbook

# Path to the final file
final_file_path ='/workspaces/Finetwork-Automation/outbound/CDM FIDELIZACION + POTENCIALES.xlsx'
sheet_name = 'OUT'  # Change this to the correct sheet name

def update_final_file(file_path, sheet_name, values):
    # Load the workbook and select the sheet
    workbook = load_workbook(filename=file_path)
    sheet = workbook[sheet_name]
    
    # Start updating from row 3 in column F (6th column)
    start_row = 5
    column = 9  # Column I
    
    for i, value in enumerate(values, start=start_row):
        sheet.cell(row=i, column=column, value=value)
    
    # Save the workbook
    workbook.save(file_path)
    print(f"Updated {len(values)} rows in '{sheet_name}' sheet of '{file_path}'.")

# Update the final file with the calculated sums
update_final_file(final_file_path, sheet_name, canceled_last_values)

Updated 14 rows in 'OUT' sheet of '/workspaces/Finetwork-Automation/outbound/CDM FIDELIZACION + POTENCIALES.xlsx'.

### Update finalFile Excel sheet with Services Data

Update the "finalFile" Excel sheet with the calculated values from the Services DataFrame in column H.

In [13]:
from openpyxl import load_workbook

# Path to the final file
final_file_path ='/workspaces/Finetwork-Automation/outbound/CDM FIDELIZACION + POTENCIALES.xlsx'
sheet_name = 'OUT'  # Change this to the correct sheet name

def update_final_file(file_path, sheet_name, values):
    # Load the workbook and select the sheet
    workbook = load_workbook(filename=file_path)
    sheet = workbook[sheet_name]
    
    # Start updating from row 3 in column F (6th column)
    start_row = 5
    column = 8  # Column H
    
    for i, value in enumerate(values, start=start_row):
        sheet.cell(row=i, column=column, value=value)
    
    # Save the workbook
    workbook.save(file_path)
    print(f"Updated {len(values)} rows in '{sheet_name}' sheet of '{file_path}'.")

# Update the final file with the calculated sums
update_final_file(final_file_path, sheet_name, services_last_values)

Updated 14 rows in 'OUT' sheet of '/workspaces/Finetwork-Automation/outbound/CDM FIDELIZACION + POTENCIALES.xlsx'.