## Library Installation

Ensure that the necessary libraries are installed before running the notebook.

In [2]:
# Import necessary libraries
%pip install openpyxl
from openpyxl import load_workbook
import pandas as pd
import os
import re
import itertools

print("Skeleton setup complete!")

Requirement already satisfied: openpyxl in /usr/local/python/3.10.13/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/python/3.10.13/lib/python3.10/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Skeleton setup complete!

## Variable Declaration

Set the variables for file paths, sheet names, and other configurations. Update these variables for each specific project.

In [3]:
# Path to the Excel file (change this for each project)
excel_file_path = '/workspaces/Finetwork-Automation/retention/CARGA SERVICIOS.xlsx'
csv_file_path = '/workspaces/Finetwork-Automation/inbound/Informe de métricas históricas.csv'

# Sheet names for different categories
sheet_active = 'ACTIVOS'
sheet_canceled = 'CANCELADOS'
sheet_pending = 'PTE DE FIRMA'
sheet_value = 'TOP VALOR'
sheet_packs = 'TOP PACKS'
sheet_services = 'TOP SERVICIOS'

# Range to read (change this for each project)
start_row = 5
end_row = 30
usecols = 'A:B'

print("Variables defined correctly!")

Variables defined correctly!

## Extract Data from all six Sheets

Extract data from all three Sheets within the specified range and convert it directly to a DataFrame.

In [4]:
def load_sheet_as_dataframe(file_path, sheet_name, start_row, end_row, usecols):
    # Load data from the specified sheet and range into a DataFrame
    df = pd.read_excel(file_path, sheet_name=sheet_name, usecols=usecols, skiprows=start_row-1, nrows=end_row-start_row+1)
    print(f"Data from '{sheet_name}' sheet loaded successfully.")
    return df

# Extract data from 'Active' sheet
dni_ct_bajas_df = load_sheet_as_dataframe(excel_file_path, 'DNI CT BAJAS', start_row, end_row, usecols)
dni_ct_porta_df = load_sheet_as_dataframe(excel_file_path, 'DNI CT PORTA', start_row, end_row, usecols)
dni_bd_bajas_df = load_sheet_as_dataframe(excel_file_path, 'DNI BD BAJAS', start_row, end_row, usecols)
dni_bd_porta_df = load_sheet_as_dataframe(excel_file_path, 'DNI BD PORTA', start_row, end_row, usecols)

# Display the DataFrames

print("DNI CT BAJAS DataFrame:")
display(dni_ct_bajas_df.head())

print("DNI CT PORTA DataFrame:")
display(dni_ct_porta_df.head())

print("DNI BD BAJAS DataFrame:")
display(dni_bd_bajas_df.head())

print("DNI BD PORTA DataFrame:")
display(dni_bd_porta_df.head())

Data from 'DNI CT BAJAS' sheet loaded successfully.
Data from 'DNI CT PORTA' sheet loaded successfully.
Data from 'DNI BD BAJAS' sheet loaded successfully.
Data from 'DNI BD PORTA' sheet loaded successfully.
DNI CT BAJAS DataFrame:

  Etiquetas de fila  Cuenta de Agente Respuesta N1
0    Gonzalo Rasero                              3
1         20478807K                              1
2         31318815Z                              1
3         53286410X                              1
4   Lorena Villalba                              6

DNI CT PORTA DataFrame:

  Etiquetas de fila  Cuenta de Agente Respuesta N1
0     Carmen Romero                              2
1         47843557S                              1
2         X7525902A                              1
3      Irene Mateos                              1
4         76134764A                              1

DNI BD BAJAS DataFrame:

  Etiquetas de fila  Cuenta de AGENTE
0     Carmen Romero                 2
1         04209470X                 1
2         Y2674878S                 1
3    Gonzalo Rasero                 1
4         11822072A                 1

DNI BD PORTA DataFrame:

  Etiquetas de fila  Cuenta de AGENTE
0     Total general               NaN