## Library Installation

Ensure that the necessary libraries are installed before running the notebook.

In [1]:
# Import necessary libraries
%pip install openpyxl
from openpyxl import load_workbook
import pandas as pd
import os
import re
import itertools

print("Skeleton setup complete!")

Requirement already satisfied: openpyxl in /usr/local/python/3.10.13/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/python/3.10.13/lib/python3.10/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Skeleton setup complete!

## Variable Declaration

Set the variables for file paths, sheet names, and other configurations. Update these variables for each specific project.

In [2]:
# Path to the Excel file (change this for each project)
excel_sales_file_path = '/workspaces/Finetwork-Automation/OUT Amazon Volte TV/Metabaseout.xlsx'
excel_calls_file_path = '/workspaces/Finetwork-Automation/OUT Amazon Volte TV/REGISTRO LLAMADAS AMAZON.xlsx'
final_excel_file_path = '/workspaces/Finetwork-Automation/OUT Amazon Volte TV/CDM FIDELIZACION + POTENCIALES ACTUALIZADO.xlsx'


# Sheet names in calls Excel for different categories
sheet_calls_brute = 'BRUTO'
sheet_calls_net = 'NETO'
sheet_amazon = 'AMAZON'

print("Variables defined correctly!")

Variables defined correctly!

## Extract Data

In [3]:
start_row = 4
end_row = 65

def load_sheet_as_dataframe(file_path, sheet_name, start_row, end_row):
    # Load data from the specified sheet and range into a DataFrame
    df = pd.read_excel(file_path, sheet_name=sheet_name, skiprows=start_row-1, nrows=end_row-start_row+1)
    print(f"Data from '{sheet_name}' sheet loaded successfully.")
    return df

# Extract data from 'Active' sheet
calls_brute_df = load_sheet_as_dataframe(excel_calls_file_path, 'BRUTO', start_row, end_row)
calls_net_df = load_sheet_as_dataframe(excel_calls_file_path, 'NETO', start_row, end_row)
calls_amazon_df = load_sheet_as_dataframe(excel_calls_file_path, 'AMAZON', start_row, end_row)

print("Brute calls DataFrame:")
display(calls_brute_df.head())

print("Net calls DataFrame:")
display(calls_net_df.head())

print("Net calls DataFrame:")
display(calls_amazon_df.head())

Data from 'BRUTO' sheet loaded successfully.
Data from 'NETO' sheet loaded successfully.
Data from 'AMAZON' sheet loaded successfully.
Brute calls DataFrame:

   Etiquetas de fila  Cuenta de agentName
0       Raquel Duran                138.0
1        (en blanco)                  NaN
2   Elisabeth Ladesa                270.0
3  Macarena Albarran                261.0
4      Total general                669.0

Net calls DataFrame:

   Etiquetas de fila  Cuenta de agentName
0       Raquel Duran                 96.0
1        (en blanco)                  NaN
2   Elisabeth Ladesa                 81.0
3  Macarena Albarran                123.0
4      Total general                300.0

Net calls DataFrame:

   Etiquetas de fila  Cuenta de agentName
0       Raquel Duran                   19
1   Elisabeth Ladesa                   32
2  Macarena Albarran                   41
3      Total general                   92

## Load Agents names for calls List

Load the list of all agents from the "Agents" sheet.

In [4]:
# Load the list of agents
agents_calls_df = pd.read_excel(excel_sales_file_path, sheet_name='AGENTES CALLS', usecols='A')
agents_calls_list = agents_calls_df.iloc[:, 0].tolist()
print("Agents list loaded successfully!")
print(agents_calls_list)

Agents list loaded successfully!
['arodriguez.out', 'canselmo.out', 'cgarcia', 'fgonzalez.out', 'jminero.prexfy', 'jcmartinez.out', 'lbellido.out', 'mccarrasco.out', 'sgarcia.out', 'varagon']