## Library Installation

Ensure that the necessary libraries are installed before running the notebook.

In [2]:
# Import necessary libraries
%pip install openpyxl
from openpyxl import load_workbook
import pandas as pd
import os
import re
import itertools

print("Skeleton setup complete!")

Requirement already satisfied: openpyxl in /usr/local/python/3.10.13/lib/python3.10/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/python/3.10.13/lib/python3.10/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Skeleton setup complete!

## Variable Declaration

Set the variables for file paths, sheet names, and other configurations. Update these variables for each specific project.

In [3]:
# Path to the Excel file (change this for each project)
excel_sales_file_path = '/workspaces/Finetwork-Automation/OUT Amazon Volte TV/Metabaseout.xlsx'
excel_calls_file_path = '/workspaces/Finetwork-Automation/OUT Amazon Volte TV/REGISTRO LLAMADAS TV.xlsx'
final_excel_file_path = '/workspaces/Finetwork-Automation/OUT Amazon Volte TV/CDM FIDELIZACION + POTENCIALES ACTUALIZADO.xlsx'


# Sheet names in calls Excel for different categories
sheet_calls_brute = 'BRUTA'
sheet_calls_net = 'NETA'
sheet_cancelled = 'VENTAS'

print("Variables defined correctly!")

Variables defined correctly!

## Extract Data

In [6]:
start_row = 4
end_row = 65

def load_sheet_as_dataframe(file_path, sheet_name, start_row, end_row):
    # Load data from the specified sheet and range into a DataFrame
    df = pd.read_excel(file_path, sheet_name=sheet_name, skiprows=start_row-1, nrows=end_row-start_row+1)
    print(f"Data from '{sheet_name}' sheet loaded successfully.")
    return df

# Extract data from 'Active' sheet
calls_brute_df = load_sheet_as_dataframe(excel_calls_file_path, 'BRUTA', start_row, end_row)
calls_net_df = load_sheet_as_dataframe(excel_calls_file_path, 'NETA', start_row, end_row)
calls_tv_df = load_sheet_as_dataframe(excel_calls_file_path, 'VENTAS', start_row, end_row)

print("Brute calls DataFrame:")
display(calls_brute_df.head())

print("Net calls DataFrame:")
display(calls_net_df.head())

print("Net calls DataFrame:")
display(calls_tv_df.head())

Data from 'BRUTA' sheet loaded successfully.
Data from 'NETA' sheet loaded successfully.
Data from 'VENTAS' sheet loaded successfully.
Brute calls DataFrame:

   Etiquetas de fila  Cuenta de agentName
0        (en blanco)                  NaN
1   Macarena Morilla                194.0
2         Sarai Rufo                285.0
3  Juan Pedro Madrid                299.0
4    Alejandra Bonet                 79.0

Net calls DataFrame:

   Etiquetas de fila  Cuenta de agentName
0        (en blanco)                  NaN
1   Macarena Morilla                 45.0
2         Sarai Rufo                 94.0
3  Juan Pedro Madrid                 80.0
4    Alejandra Bonet                 11.0

Net calls DataFrame:

   Etiquetas de fila  Cuenta de agentName
0   Macarena Morilla                    5
1         Sarai Rufo                    5
2  Juan Pedro Madrid                    3
3    Alejandra Bonet                    1
4      Total general                   14